@keyframes top-fade-riseup {
	from {
		opacity: 0;
		transform: translate(0%, -10%);
	}
	to {
		opacity: 1;
		transform: translate(0%, 0%);
	}
}

@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    padding: 50px;
    max-width: 450px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;

    animation: top-fade-riseup 1s forwards;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-container {
    padding: 20px;
    padding-left: 50px;
	color:#FFF;
    background-color: rgba(0, 0, 0, 0.3);
}

.developer-info {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.text {
    margin-top: 20px;
    color: #000;
}

p {
    font-size: 30px;
}

h2 {
	font-size: 40px;
}

h3 {
	color: #FFF;
	font-size: 35px;
}

body {
	font-family: "SpoqaHanSansNeo-Thin";
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(0, 100, 255, 0.5), rgba(0, 100, 255, 0.5))
}

h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #fff;
    animation: fade 1s forwards, riseup 1s forwards;
}

img {
    max-width: 450px;
    height: auto;
}
